<h1>Adicionar Membro da S.T.A.R.S.</h1>
<form method="POST" action="/add">
  <input name="nome" placeholder="Nome" required />
  <input name="codinome" placeholder="Codinome" required />
  <input name="funcao" placeholder="Função" required />
  <input name="status" placeholder="Status" required />
  <input name="nivel" type="number" placeholder="Nível" required />
  <button type="submit">Salvar</button>
</form>
<a href="/">Voltar</a>